
<div id="footerwrap">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-4">
  			<h4>About</h4>
  			<div class="hline-w"></div>
  			<p>
          XPUSH is an opensource <strong>realtime communication platform</strong> for quickly, easily adding scalable functionality to web and mobile environment.<br>
          It lets you develop faster, deploy easier and scale bigger.
        </p>
  		</div>
  		<div class="col-lg-4">
  			<h4>Source Link</h4>
  			<div class="hline-w"></div>
  			<p>
          <a href="https://github.com/xpush"><i class="fa fa-github"></i></a>
          - Opensource Project from github
  			</p>
  		</div>
  		<div class="col-lg-4">
  			<h4>Our Bunker</h4>
  			<div class="hline-w"></div>
  			<p>
  				<br/>
  				from Seoul, Korea.<br/>
  			</p>
  		</div>

  	</div>
  </div>
</div>
