<div class="spacing"></div>
<h6>SHARE:</h6>
<!-- Go to www.addthis.com/dashboard to customize your tools
<div class="addthis_native_toolbox"></div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540fe5b845b6df9d"></script>
-->
<p class="share">
<a href="http://twitter.com/home?status={{ site.url }}{{ page.url }}" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
</p>
