---
layout: default
---

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
		<div class="row">
			<h3>Blog List.</h3>
		</div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 BLOG CONTENT
 ***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">

    <! -- BLOG POSTS LIST -->
    <div class="col-lg-8">

      {% for post in paginator.posts %}

      <! -- Blog Post 1 -->
      <a href="single-post.html"><h3 class="ctitle">{{ post.title }}</h3></a>
      <p><csmall>Posted: {{ post.date | date: "%b %-d, %Y" }}</csmall></p>
      <p>{{ post.content }}</p>
      <div class="hline"></div>

      <div class="spacing"></div>

      {% endfor %}

      {% if paginator.total_pages > 1 %}
      <p class="text-center">
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
            {% elsif page == 1 %}
              <li><a href="{{ '/blog' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
              <li><a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}
        </ul>
      </p>
      {% endif %}

    </div><! --/col-lg-8 -->


    <! -- SIDEBAR -->
    <div class="col-lg-4">

      <div class="spacing"></div>

      <h4>Categories</h4>
      <div class="hline"></div>
        {% for category in site.categories %}
        <p>
          <a href="#"><i class="fa fa-angle-right"></i> {{ category | first }}</a>
          <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
        </p>
        {% endfor %}
      <div class="spacing"></div>

      <!--h4>Recent Posts</h4>
      <div class="hline"></div>
       <ul class="popular-posts">
                 <li>
                     <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
                     <em>Posted on 02/21/14</em>
                 </li>
                 <li>
                     <a href="#"><img src="assets/img/thumb02.jpg" alt="Popular Post"></a>
                     <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
                     <em>Posted on 03/01/14</em>
                 <li>
                     <a href="#"><img src="assets/img/thumb03.jpg" alt="Popular Post"></a>
                     <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
                     <em>Posted on 05/16/14</em>
                 </li>
                 <li>
                     <a href="#"><img src="assets/img/thumb04.jpg" alt="Popular Post"></a>
                     <p><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a></p>
                     <em>Posted on 05/16/14</em>
                 </li>
             </ul>

      <div class="spacing"></div-->

      <h4>Popular Tags</h4>
      <div class="hline"></div>
      <p>
        {% for tag in site.tags %}
          <a class="btn btn-theme" href="#" role="button">{{ tag | first }}</a>
        {% endfor %}
      </p>
    </div>
  </div><! --/row -->
 </div><! --/container -->
