---
layout: default
---

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Blog.</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 BLOG CONTENT
 ***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">

    <! -- BLOG POSTS LIST -->
    <div class="col-lg-8">

      <h3 class="ctitle">{{ page.title }}</h3>
      <p>
        <csmall>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</csmall>
      </p>
      <p>{{ content }}</p>

      {% include social.html %}

      {% include comment.html %}

    </div><! --/col-lg-8 -->

    {% include blog/sidebar.html %}

  </div><! --/row -->
 </div><! --/container -->
